@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --maincolor: rgb(202, 12, 12);
}

body {
    background-color: rgb(0, 0, 0);
}

.main {
    position: relative;
    background-image: url("images/bg.jpg");
    background-position: center center;
    background-size: max(1500px, 100vw);
    background-repeat: no-repeat;
    height: 90vh;
}

.main .scr {
    position: absolute;
    top: 0;
    height: 90vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    filter: opacity(0.79);
}

nav {
    position: relative;
    z-index: 1;
    max-width: 75vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 25px 0px 0px 0px;
    background-color: 7black;
}

.btn-nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 15px 0px 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--maincolor);
    color: white;
    height: 30px;
    cursor: pointer;
}

.content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    position: relative;
    z-index: 1;
    color: white;
    height: calc(100% - 72.24px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* padding: 0px 300px; */
}

.content> :nth-child(1) {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.content> :nth-child(2) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.content> :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}


.content .click {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 5px;
}

.content .click #em {
    width: 300px;
    padding: 20px 20px;
    background-color: rgba(25, 25, 25, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.612);
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.content .click #em::placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 450;
    color: rgba(255, 255, 255, 0.589);
}

.content .click .btn-click {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 500;
    background-color: var(--maincolor);
    color: white;
    border-radius: 5px;
    border: none;
    width: 200px;
    padding: 12px 0px;
    cursor: pointer;
}

.seperation {
    height: 10px;
    background-color: rgb(50, 50, 50);
}

.first {
    color: #f7f1f1;
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0px 60px 0px;
}

.first>div {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.first>div :nth-child(1) {
    font-size: 40px;
    font-weight: 700;

}

.first>div :nth-child(2) {
    font-size: 20px;
    font-weight: 500;
}

.first .secmedia {
    position: relative;
}

.first img {
    width: 500px;
}

.first video {
    width: 370px;
    position: absolute;
    top: 78px;
    left: 65px;
    z-index: -1;
}

.question {
    max-width: 70vw;
    color: #f1e9e9;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 0px;
}

.question h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.faq {
    max-width: 60vw;
    margin: auto;
    height: 450px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    padding: 0px 0px 30px 0px;
}

.faq div {
    background-color: #2d2d2d;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        background-color: #414141;
    }
}

footer {
    width: 60vw;
    margin: auto;
    padding: 20px;
}

.quest {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: #ded4d4;
}

.footlinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 150px;
    /* max-width: 60vw; */
    color: white;
}

a {
    color: #ded4d4;
}

.footlinks .items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


            /* M E D I A---Q U E R I E S */


@media screen and (max-width:350px){
    .content .click #em {
        width: auto;
    }
    .first .secmedia img{
        width: 200px;
    }
    .first .secmedia video{
        width: 144px;
        top: 31px;
        left: 28px;
    }
    .faq {
        padding-bottom: 100px;
    }
}

@media screen and (max-width:570px){
    .content> :nth-child(1) {
        font-size: 40px;
    }
    .footlinks {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:620px){
    .content .click{
        flex-direction: column;
    }
    .first{
        flex-direction: column;
        gap: 20px;
    }
}


@media  screen and (max-width:850px){
    .first .secmedia img{
        width: 300px;
    }
    .first .secmedia video{
        width: 250px;
        top: 45px;
        left: 39px;
    }
}



